.container {
  background-color: pink;
  height: 2.5em;
  width: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.containerExpanded {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.container .text {
  margin: 0.7em auto;
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  margin: 5px 15px;
  height: 1.5em;
  margin: 1em;
  font-size: large;
}

.button {
  float: right;
  margin: 5px 15px;
  height: 2em;
  font-size: large;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
